<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение напитков</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1 th:text="${#strings.isEmpty(drink.id) ? 'Добавить ингредиент' : 'Отредактировать ингредиент'}"></h1>
<form th:action="@{${#strings.isEmpty(drink.id) ? '/drinks/save' : '/drinks/update/' + drink.id}}" method="post">
    <label for="name">Название:</label>
    <input type="text" id="name" name="name" th:value="${drink.name}" required>

    <label for="volumeMl">Объем (мл):</label>
    <input type="number" id="volumeMl" name="volumeMl" min="0" th:value="${drink.volumeMl}" required>

    <label for="caffeineMg">Кофеин (мг):</label>
    <input type="number" id="caffeineMg" name="caffeineMg" min="0" th:value="${drink.caffeineMg}" required>

    <label for="price">Цена:</label>
    <input type="number" id="price" name="price" min="0" step="0.01" th:value="${drink.price}" required>

    <label for="manufacturer">Производитель:</label>
    <select id="manufacturer" name="manufacturer.id" required>
        <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}">
            Manufacturers
        </option>
    </select>

    <button type="submit">Подтвердить</button>
</form>


<div th:replace="fragments/_navigation :: navigation"></div>
</body>
</html>
