<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drinks List</title>
</head>
<body>
<h1>Drinks List</h1>
<a href="/drinks/add">Add Drink</a>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Manufacturer</th>
    <th>Ingredients</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="drink : ${drinks}">
    <td th:text="${drink.name}"></td>
    <td th:text="${drink.manufacturerId}"></td>
    <td th:text="${drink.ingredients}"></td>
    <td>
      <a th:href="@{/drinks/edit/{id}(id=${drink.id})}">Edit</a>
      <a th:href="@{/drinks/delete/{id}(id=${drink.id})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
