<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Производители</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Производители</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Страна</th>
        <th>Опции</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="manufacturer : ${manufacturers}">
        <td th:text="${manufacturer.id}"></td>
        <td th:text="${manufacturer.name}"></td>
        <td th:text="${manufacturer.country}"></td>
        <td>
            <a th:href="@{/manufacturers/edit/{id}(id=${manufacturer.id})}" class="btn btn-edit">Редактировать</a> |
            <a th:href="@{/manufacturers/delete/{id}(id=${manufacturer.id})}" class="btn btn-delete">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/manufacturers/new" class="btn btn-add-new">Добавить нового производителя</a>
<div th:replace="fragments/_navigation :: navigation"></div>
</body>
</html>
