<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ингредиенты</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Ингредиенты</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Тип</th>
        <th>Опции</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ingredient : ${ingredients}">
        <td th:text="${ingredient.id}"></td>
        <td th:text="${ingredient.name}"></td>
        <td th:text="${ingredient.type}"></td>
        <td>
            <a th:href="@{/ingredients/edit/{id}(id=${ingredient.id})}" class="btn btn-edit">Редактировать</a> |
            <a th:href="@{/ingredients/delete/{id}(id=${ingredient.id})}" class="btn btn-delete">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/ingredients/new" class="btn btn-add-new">Добавить новый ингредиент</a>
<!-- Фрагмент навигации -->
<div th:replace="fragments/_navigation :: navigation"></div>
</body>
</html>
