<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>Панель управления</h1>
</header>

<main>
    <form>
        <p>Выберите действие ниже:
        <div class="btn-group">
            <a href="/drinks" class="btn btn-menu">Просмотр напитков</a>
            <a href="/ingredients" class="btn btn-menu">Просмотр ингредиентов</a>
            <a href="/manufacturers" class="btn btn-menu">Просмотр производителей</a>
        </div>
        </p>
    </form>
</main>
</body>
</html>
