<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredients</title>
</head>
<body>
<h1>Ingredients</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
    </tr>
    <tr th:each="ingredient : ${ingredients}">
        <td th:text="${ingredient.id}"></td>
        <td th:text="${ingredient.name}"></td>
        <td th:text="${ingredient.type}"></td>
    </tr>
</table>
<a href="/">Back to Home</a>
</body>
</html>
