<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manufacturers</title>
</head>
<body>
<h1>Manufacturers</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="manufacturer : ${manufacturers}">
        <td th:text="${manufacturer.id}">ID</td>
        <td th:text="${manufacturer.name}">Name</td>
        <td th:text="${manufacturer.country}">Country</td>
    </tr>
    </tbody>
</table>
<a href="/">Go to Home</a>
</body>
</html>
